################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.config
/.vs/upsa-api
/.vscode
/bin
/obj
*.user
